<h1>Grave Sites</h1>

<% @graves.each do |grave| %>
	<h3><%= grave.name %></h3>
	<%= link_to image_tag(grave.mainpic(:small)), grafe_path(grave) %><br />
	<%= link_to grave.description, grafe_path(grave) %>
<% end %>