#main {
	margin-top: 100px;
	margin-bottom: 50px;
}

.clear-left {
  clear: left;
}

.display-block {
  display: block;
}

.margin-high {
	margin-top: 30px;
}

.navbar-text {
	color: white !important;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin-right: 280px;
  width: 70%;
}

#flash_notice {
  background-color: green;
}

#flash_error {
  background-color: red;
}

.number-field {
	width: 5%;
}

.inline {
	display: inline !important;
}


.main-image {
	padding: 10px;
}

.content {
  text-align: left;
  border-style:solid;
  border-width:2px;
  border-radius:10px;
  padding: 20px 10px 20px 10px;
  margin-right: 0px;
  overflow: hidden;
}

.content-right {
  text-align: left;
  border-style:solid;
  border-width:2px;
  border-radius:10px;
  padding: 20px 10px 10px 10px;
}

#description {
  width: 60%;
}

#details-table {
	margin-left: 10px;
  border-radius: 10px;
}

.info {
  font-weight: bold;
  text-align: right;
  color: green !important;
}

.table-btn {
  text-decoration: none;
}

@media (max-width: 991px) {
  #additional {
    margin-top: 30px;
  }
  #details {
    float: left !important;
  }
}
