#main {
	margin-top: 100px;
	margin-bottom: 50px;
}

.margin-high {
	margin-top: 30px;
}

.navbar-text {
	color: white !important;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin-right: 280px;
  width: 70%;
}

#flash_notice {
  background-color: green;
}

#flash_error {
  background-color: red;
}

.number-field {
	width: 5%;
}

.inline {
	display: inline;
}


.main-image {
	padding: 10px;
}

.content {
  text-align: left;
  width: 65%;
  border-style:solid;
  border-width:1px;
  border-radius:10px;
  padding: 20px 0px 20px 0px;
  margin-right: 5px;
}

#description {
  width: 65%;
}

#details-table {
  width: 100%;
  border-radius: 10px;
}
.info {
  font-weight: bold;
  text-align: right;
  color: green !important;
}