#main {
	margin-top: 45px;
}

.navbar-text {
	color: white !important;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin-right: 280px;
  width: 70%;
}

#flash_notice {
  background-color: green;

}

#flash_error {
  background-color: red;
}

